name: CI Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Test Allure Action
        uses: allure-framework/allure-github-action@v2.1.0
        with:
          action: version
